@{
    ViewData["Title"] = "ProjetoElevador_Documentacao";
}

<div class="text-center">
    <h1 class="display-4">Software elevador do Edificio Don Tenet!</h1>

    <p><h5><b>Descrição da Estutura do ProjetoElevador:</b></h5></p>
    <p>Neste projeto foi aplicado parte significativa do conhecimento obtido durante na jornada Microsoft: dos fundamentos em lógica de programação aos tipos de dados, controle de fluxo, laços de repetição e funções </p>
    <p>O projeto final teve como objetivo a criação de um software CLI, que comandaria o elevador de um edifício. Aqui chamado de "Edifício Don Tenet".</p
    <p>Portanto, vamos a um passo a passo da tentativa do software de Elevador do Edifício Don Tenet:</p>

    <p>Ao executar o programa é solicitado ao usuário que informe a quantidade de andares (incluindo o terréo) do Edifício, bem como a capacidade de pessoas suportadas de uma só vez pelo elevador.</p>
    <p>Após informados os dados serem informados pelo usuário, o elevador libera o menu abaixo com as seguintes opções de operação.</p>

    <p> "1 - digite para Inicializar" -> Espera-se que Inicialize o elevador, ainda no térreo e vazio.<br />
        "2 - Digite para Entrar" -> Inclui uma pessoa por vez no elevador, caso haja espaço disponível.<br />
        "3 - Digite para Sair" -> Remove uma pessoa por vez, caso ele não esteja vazio. <br />
        "4 - Digite para Subir" -> Sobe um andar por vez, caso ele não esteja no último.<br />
        "5 - Digite para Descer" -> Desce um andar por vez, caso ele não esteja no térreo.<br />
        "6 - Digite para finalizar" -> Finaliza o programa.</p>
</div>
